#main_content img{
    float: left; 
    padding-left: 14px; 
    width: 28%;
    height:  200px; 
    padding-bottom: 30px; 
}

#main_content .flexgroup2{
    line-height: 1.8em; 
    font-size: 15.5px; 
    float: right; 
    box-sizing: border-box; 
    width: 65%; 
}

#main_content ul{
    margin-bottom: 50px; 
}
